<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>TEAM MOMO</title>
    <!-- font icons -->
    <link rel="stylesheet" type='text/css' href="../static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" type='text/css' href="../static/assets/css/steller.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/assets/Project_Imgs/MOMO.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Mission Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testmonial">Where We're At Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>          
    </nav>
    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Hello, we're</h6>
                <h6 class="title">Team MOMO</h6>
                <p>Saint Louis University, Senior Design Team</p>

            </div>              
            <div class="img-holder">

                <img src="../static/assets/imgs/APPA+MOMO.jpeg" alt="">

            </div>      
        </div>
    </header>
    <!-- End of Page Header -->
    
    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="../static/assets/Project_Imgs/Team%20Avatar.jpeg" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Meet the Team</h6>
                    <p>Marcus Klupar: Senior, Aerospace Engineering <br> &emsp; Favorite Food: Fried Calmari.</p>
                    <p>Michael He: Senior, Aerospace Engineering <br> &emsp; Favorite Color: Green</p>
                    <p>Fransico Bueno: Senior, Aerospace Engineering <br>&emsp; Favorite Activity: Bike Riding</p>
                    <p> Fauzaun LASTNAME: Senior, Aerospace Engineering <br> &emsp; Favorite Shoe: Flip Flops</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Mission Description section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 class="subtitle"></h6>
            <h6 class="section-title mb-4">Mission Description</h6>
            <p class="mb-5 pb-4">We aim to design and build an autonomous glider to complete a subtask of the AUVSI SUAS 2023 Competition.<br><br>SUMMARY<br>
            APPA, the main aircraft, will first autonomously take off and then preform way point navigation (Task 1).
            Next, APPA will fly over a target range and simultaneously identify, localize, and map the area flown (Task 2).
            Once target identification and localization is complete,our teams subtask starts. 2 MOMO's (glider) will autonomously deliver their payload (1 watter bottle) after release from APPA to the identified ground targets (Task 3).
            APPA will need to land and be equipped with 2 more MOMO's as our team aims to  deliver a payload to 4 target.Once target delivery is completed APPA will need to autonomously land.(Task 4)</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/APPA_Tasks.png" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>APPA Tasks</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/APPA.png" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>APPA</h5>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/MOMO_Tasks.png" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>MOMO Tasks</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/MOMO_Render.png" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>MOMO</h5>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/Biplane%20Bottle%202%20view.JPG" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Expanded View</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/assets/Project_Imgs/Internal_Structure.JPG" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Internal Structure</h5>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>

        </div>
    </section>
    <!-- End of Mission Description section -->

    <!-- Testmonial Section -->
    <section id="testmonial" class="section">
        <div class="container text-center">
            <h6 class="subtitle"></h6>
            <h6 class="section-title mb-4">Where We're At Now</h6>
            <p><strong>Past</strong> <br>&emsp;Preliminary Designs Phase</p>
            <p><Strong>Current</Strong> <br>&emsp; Avionics Integration<br>Mission Simulation<br>AAA Modeling<br>Building: 1st Iteration <br> Design Release Mechanism</p>
            <p><Strong>Future</Strong> <br> Test 1: No Control Surface Deflection <br> Test 2: Verify Control Surface Deflection <br> Test 3: Verify Foldable Wing Concept/Mechanism <br> Test 4: Full Mission</p>


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                </ol>

            </div>
        </div>
    </section>
    <!-- End of testmonial section -->

    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">Get In Touch</h6>
            <p class="mb-5 pb-4">Feel free to email any of us</p>

            <div class="contact text-left">
                <div class="form">
    <!-- End of Contact Section -->

    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com" target="_blank">DevCRUD</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="socials">
                        <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- End of page footer -->
	
	<!-- core  -->
    <script src="../static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
	<script src="../static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- steller js -->
    <script src="../static/assets/js/steller.js"></script>

</body>
</html>
